.fa-arrow-left {
    position: absolute;
    left: 23px;
    font-size: 19px;
    margin-top: -7px;
}

.image {
    width: 100%;
    height: 300px;
    &_top {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.containers{
    margin-top: -50px;
    background-color: #f2f2f2;
    @media (min-width: 768px){
        display:flex;
        justify-content: space-around;
     }

}

.globalContainer {
    background-color: #f2f2f2;
    width: 100%;
    height: 1145px;
    border-radius: 37px 37px 0 0;
    margin-top: -53px;
    position: sticky;
    @media (min-width: 768px){
        height:auto;
     }

    &_top {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_h1 {
            font-size: 30px;
            width: 80%;
            font-family: "Shrikhand", cursive;
            font-weight: normal;
            margin-left: 5%;
        }

        &_icon {
            font-size: 23px;
            margin-right: 6%;
            
        }
    }
}

.menu {
    width: 100%;
    height: auto;
    margin-left: 5%;
    margin-top: 52px;
    @media (min-width: 768px){
        width:30%;
        margin-left: 0%;
    }
  

  
    &_title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 23px;
        &::after {
            display: block;
            content: "";
            width: 45px;
            height: 3px;
            background: #99e2d0;
            margin-top: 5px;
        }
    }
    &_list {
        /*background-color: rgb(0, 255, 217);*/
        width: 90%;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: 768px){
            width: 100%;
         }

        &_meal {
            width: 100%;
            height: 30%;
            background-color: white;
            border-radius: 17px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: space-between;
            transition: transform 1.5s ease-in-out;
            position: relative;
            transition: all 1s ease-in-out;
            overflow: hidden;
        
            &_check  {
                position: absolute;
                background: #99E2D0;
                border-radius: 0 15px 15px 0;
                top:0;
                right: 0px;
                height: 100%;
                padding: 0 30px;
                display: inline;
                transition: all 0.7s ease-in-out;
                transform: translateX(50px);
              }
            
            &:hover{
                transform: scale(1.06);
                box-shadow: 0px 0px 10px 0px #20c7edc6;
            }
            &:hover &_check {
                padding: 0 30px;
                transform: translateX(0);
                margin-right: 0;
            }
            &:hover &_price {
                margin-right: 70px;
               transition: all 0.7s ease-in-out 
            }
           
            &:hover &_check i {
                animation:rotation 0.8s ease-in-out;      
            }

            &_contents {
                display: flex;
                justify-content: space-between;
                width: 94%;
                margin-left: 2%;
                background-color: rgb(169, 222, 222);
            }
            &_text {
                width: auto;
                height: 100%;
                white-space: nowrap;
                overflow: hidden;
                padding-left: 14px;
                p {
                    margin-top: -11px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight:300;
                    
                }
                h3{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden
                }
            }
            &_price {
                width: 53px;
                height: 100%;
                right: 5px;
                display: flex;
                align-items: flex-end;
                transition: all 1s ease-in-out;
                margin: 0;
                

                &_number{
                    width:auto;
                    margin-bottom: 17px;
                    font-weight: bold;
                }
            }
            &_check{
                position: absolute;
                background: #99E2D0;
                border-radius: 0 15px 15px 0;
                right: -2px;
                padding: 0 13px;
                height: 100%;
                width:9px;
            }
            
        }
    }
}

.order{
    width: 100%;
    height:200px;
    background-color: #f2f2f2;
    @include flex-center;
    &_button{
        @include button-style;
        margin-top: -26px;
        border:none;
        height: 51px;
        width: 179px;
        font-weight: 500;
        transition: transform 0.7s ease-in-out 0.1s;
        &:hover{
            @include button-hover;
        }
    }
}
.footer_menu {
    position: relative;
    margin-top: 259px;
}
.add{
    height: 377px;
    &_4{
        height: 84px;
    }
}

.footer_4{
    margin-top: 354px;
}


.fa-check-circle::before {
    color:white;
    background: #99E2D0;
    height:100%
}
.heartUpMenu{
    position: absolute;
    right: 26.5px;
    top: 34px;

    background: rgb(209,65,191);
    background: linear-gradient(89deg, $purple 35%, $pink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    opacity: 0;
    z-index: 2;
}

.heartUpMenu {

       position: absolute;
       right: 26.7px;
       bottom: 26.9px;
       &:hover {
          animation: opacity 0.7s ease-in-out;
          animation-fill-mode: forwards;
          & + .heartDown {
             animation: opacityOut 0.7s ease-in-out;
             animation-fill-mode: forwards;
          }
       }
}
.fa-check-circle{
    margin-top: 26px;
    margin-left: -9px;
    font-size: 28px;
}

@media (min-width: 768px){
    .main_menu {
        margin-bottom: -259px;  
    }
    .main_menu_note{
        margin-bottom: -354px;
    }
 }